.hero-container {
  display: flex;
  border: solid;
  border-color: rgb(187, 187, 36);
  flex-direction: column;
  margin-top: 15rem;
  margin-bottom: 0;
  width: 97%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
}

.hero-container h1 {
  text-align: center;
}

.image-adventurer {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.info-and-picture-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 2rem; */
}

.user-container {
  display: flex;
  flex-direction: column;
}

.user-stats-container {
  justify-content: center;
  margin: 0 0 auto;
  align-items: flex-start;
  gap: 2rem;
  /* border-right: 2px solid; */
  text-align: left;
}

.total-quests {
  text-align: center;
  font-size: larger;
}

.info-pic-achivements {
  display: flex;
  flex-direction: column;
}

.streaks-and-badges {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
}

.streaks {
  display: flex;
  flex-direction: column;
}

.streaks-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* max-width: 400px; */
}

.streaks-type p {
  margin: 10px;
}

.badges-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 30rem;
}

.badges-dashboard p {
  margin: 20px;
}

@media (max-width: 768px) {
  .hero-container {
    width: 92%;
  }

  .image-adventurer {
    width: 160px;
    height: 160px;
  }

  .info-and-picture-container {
    padding-bottom: 1rem;
  }

  .streaks-and-badges {
    display: flex;
    /* flex-direction: column; */
  }

  .streaks-type {
    justify-content: center;
    flex-wrap: wrap;
  }

  .badges-dashboard {
    max-width: 20rem;
  }

  .badges-dashboard p {
    margin: 10px;
  }
}
