.profile-page-content {
  display: flex;
  flex-direction: column;

  align-content: center;
  width: 100%;
}

.user-stats {
  border-color: rgb(187, 187, 36);
  justify-content: center;
  align-items: center;
}

p,
h2,
h3 {
  font-weight: bolder;
}

@media (min-width: 768px) {
  .profile-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 3rem;
  }

  .user-stats {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
}
