.user-container {
  display: flex;
  margin-top: 10rem;
  flex-direction: column;
  /* margin: 0 auto; */
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.progression-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  /* margin: 0 auto; */
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .user-container {
    margin-top: 4rem;
  }

  .progression-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
