.shop-content {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main-heading {
  text-align: center;
}

.shop-keeper {
  width: 100%;
  height: 300px;
  border-radius: 25px;
}

.inventory-display {
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.guy-avatars,
.girl-avatars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 768px) {
  .shop-content {
    margin-top: 5rem;
  }

  .shop-keeper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
    margin: 0 auto;
  }

  .items {
    display: flex;
    flex-direction: column;

    width: 75%;
  }

  .guy-avatars,
  .girl-avatars {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
