.sign-up {
    text-align: center;
}

.sign-in-inputs {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    margin: 24px auto;
    gap: 5px;
}

.sign-in-inputs input {
    height: 42px;
    font-size: 1.2rem;

}

.error {
    color: red;
    font-weight: bold;
}